body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
}

.counter {
  background-color: white;
  padding: 25px 40px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 15px;
}

#countNumber {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 15px;
}

.buttons {
  background-color: #6c63ff;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s;
}

.buttons:hover {
  background-color: #4f46e5;
  transform: scale(1.05);
}
